<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>talentrackr.FRSLoginlogout</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Loginlogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelementdashboard</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>talentrackr.TestngCheck2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateHWA1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>check</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>talentrackr.TestngCheck3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CreateHWA3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyelement1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
