<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c9f99">  <td>18/05/18 10:44:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck.CreateHWA1()[pri:1, instance:Talentrackr.TestngCheck@2b91004a]">CreateHWA1</td> 
  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>18/05/18 10:44:09</td>   <td>5297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck.CreateHWA2()[pri:2, instance:Talentrackr.TestngCheck@2b91004a]">CreateHWA2</td> 
  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>18/05/18 10:44:21</td>   <td>17846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck.CreateHWA3()[pri:3, instance:Talentrackr.TestngCheck@2b91004a]">CreateHWA3</td> 
  <td>main@760357227</td>   <td></td> </tr>
</table>
