<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suiteb</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92dae4">  <td>18/06/11 12:55:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplyAd.verifyelementdashboard()[pri:0, instance:talentrackr.ApplyAd@5fbdfdcf]">verifyelementdashboard</td> 
  <td>TestNG-test=Thirdtestcase-1@79185812</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/06/11 12:55:17</td>   <td>2022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplyAd.Loginlogout()[pri:1, instance:talentrackr.ApplyAd@5fbdfdcf]">Loginlogout</td> 
  <td>TestNG-test=Thirdtestcase-1@79185812</td>   <td></td> </tr>
</table>
