<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Loginlogout</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:50:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.CreateHWA1()[pri:1, instance:talentrackr.TestngCheck2@ffaa6af]">CreateHWA1</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:35</td>   <td>92968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.CreateHWA3()[pri:3, instance:talentrackr.TestngCheck3@2c1b194a]">CreateHWA3</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/05/24 12:49:32</td>   <td>-29503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FRSLoginlogout.Loginlogout()[pri:1, instance:talentrackr.FRSLoginlogout@5fbdfdcf]">Loginlogout</td> 
  <td>TestNG-test=Firstestcase-1@1470220310</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:54</td>   <td>-8053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.check()[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">check</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:27</td>   <td>84918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.check()[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">check</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:54</td>   <td>-8053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:55</td>   <td>-7039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:56</td>   <td>-6024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:58</td>   <td>-4013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:50:00</td>   <td>-2001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:50:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:51:27</td>   <td>84902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck2.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:27</td>   <td>84933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:28</td>   <td>85939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:29</td>   <td>86943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:31</td>   <td>88954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:33</td>   <td>90957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:35</td>   <td>92968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:56</td>   <td>114109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestngCheck3.tearDown(org.testng.ITestResult)[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:54</td>   <td>-8053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.verifyelement1()[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">verifyelement1</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:27</td>   <td>84933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.verifyelement1()[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">verifyelement1</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:55</td>   <td>-7039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.verifyelement2()[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">verifyelement2</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:28</td>   <td>85939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.verifyelement2()[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">verifyelement2</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:56</td>   <td>-6024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.verifyelement3()[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">verifyelement3</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:29</td>   <td>86943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.verifyelement3()[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">verifyelement3</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:49:58</td>   <td>-4013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.verifyelement4()[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">verifyelement4</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:31</td>   <td>88954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.verifyelement4()[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">verifyelement4</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="bacb9d">  <td>18/05/24 12:50:00</td>   <td>-2001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck2.verifyelement5()[pri:0, instance:talentrackr.TestngCheck2@ffaa6af]">verifyelement5</td> 
  <td>TestNG-test=Secondtestcase-1@289679158</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>18/05/24 12:51:33</td>   <td>90957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngCheck3.verifyelement5()[pri:0, instance:talentrackr.TestngCheck3@2c1b194a]">verifyelement5</td> 
  <td>TestNG-test=Thirdtestcase-1@725142083</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>18/05/24 12:49:30</td>   <td>-31525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FRSLoginlogout.verifyelementdashboard()[pri:0, instance:talentrackr.FRSLoginlogout@5fbdfdcf]">verifyelementdashboard</td> 
  <td>TestNG-test=Firstestcase-1@1470220310</td>   <td></td> </tr>
</table>
